#wrapper{ width:1000px;
                   height:1000px;
                   background:black;
                   margin-top:30px;
                   margin-left:30px;
                   margin-bottom:30px;
                   margin-right:30px;
                   padding:30px;        
}
#header { margin-bottom:20px;
               height:50px;
               width:1000px;
               background:aqua;
               float:left;
}
#firtsslide { margin-bottom:20px;
                 height:250px;
                 width:1000px;
                 background:aqua;
                 float:left;
                 padding:10px;   
}
#nomor1 { margin-bottom:20px;
                 margin-right:20px;
                 height:100px;
                 width: 100px;
                 background:red;
                 float:left;
                 clear:both;
}
#nomor2 {  margin-bottom:20px;
                  margin-right:20px;
                  height:100px;
                  width: 100px;
                  background:yellow;
                  float:left;
                  clear:both;
} 
#nomor3 { margin-bottom:20px;
                margin-right:20px;
                height:100px;
                width: 100px;
                background:green;
                float:left;
                clear:both;
}
#nomor4 { margin-bottom:20px;
             margin-right: 20px;
             height:100px;
             width:100px;
             background:blue;
             float:left;
             clear: both;
}
#nomor5 { margin-bottom:20px;
               height:150px;
               width:1000px;
               background:aqua;
               float:left;
               padding:0px;     
}          